*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: cursive;
	list-style: none;
}
body{
	background: #f0f8ff;
}
.navbar{
	width: 	100%;
	position: fixed;
	background-color: red;
	color: white;
	top: 0;
}
.navbar .max-width{
	width: 1300px;
	display: flex;	
	justify-content:space-between;	
	align-content: 	center;	
	margin: 20px auto;
}
.logo{
	margin-left: 20px;
	font-size: 20px;
	font-weight: 20px;
}
.menu{
	padding-top: 10px;
	padding-left: 250px;
}
.menu li{
	display:inline-block;	
}
.menu li a{ 
    color: white;
	font-size: 20px;
	font-weight: 200;
	margin-left: 25px;
	transition: color 0s;
}
.menu li a:hover{
	color: black;
}
.sous{
	display: none;
	position: absolute;
}
.menu li:hover .sous{
   display: block;
}
.sous li{
     border: none;
     text-align: left;
     width: 90%;
     background-color: red;
}
.home3{
	margin-top: 100px;
	border-radius: 10px;
}
.div-home31{
	height:330px;
	background-color: #ffffff;
	margin-left: 100px;
	margin-right: 100px;
	display: flex;
	border-radius: 10px;
}
.div-home32{
	width: 20%;
	height: 330px;
	background-color: #ffffff;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 10px;
}
.div-home33{
	width: 20%;
	height: 330px;
	background-color: #ffffff;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 10px;
}
.div-home34{
	width: 20%;
	height: 330px;
	background-color:#ffffff;
	margin: auto 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 10px;
}
.div-home35{
	width: 20%;
	height: 330px;
	background-color: #ffffff;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 10px;
}
.div-home36{
	width: 20%;
	height: 330px;
	background-color: #ffffff;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 10px;
}
.price{
	text-align: center;
}
.namehom32{
	text-align: center;
}
.div-home32:hover{
	border: 2px solid black;
}
.div-home33:hover{
	border: 2px solid black;
}
.div-home34:hover{
	border: 2px solid black;
}
.div-home35:hover{
	border: 2px solid black;
}
.home11{
	display: flex;
	background-color: #ffffff;
	margin-right:100px;
	margin-left:100px;
	margin-top: 20px;
	border-radius: 10px;
}
.div-home111{
	width: 20%;
	height: 350px;
	background-color: #ffffff;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 10px;
}
.div-home112{
	width: 20%;
	height: 350px;
	background-color: #ffffff;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 10px;
}
.div-home113{
	width: 20%;
	height: 350px;
	background-color: #ffffff;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 10px;
}
.div-home114{
	width: 20%;
	height: 350px;
	background-color: #ffffff;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 10px;
}
.div-home115{
	width: 20%;
	height: 350px;
	background-color: #ffffff;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 10px;
}
.div-home115:hover{
	border: 2px solid black;
}
img{
	border-radius: 10px;
}
.div-home111:hover{
	border: 2px solid black;
}
.div-home112:hover{
	border: 2px solid black;
}
.div-home113:hover{
	border: 2px solid black;
}
.div-home114:hover{
	border: 2px solid black;
}.div-home36:hover{
	border: 2px solid black;
}
.home12{
	margin-top: 20px;
	border-radius: 10px;
	display: flex;
	margin-left: 100px;
	margin-right: 100px;
	background-color: #ffffff;
}
.div-home121{
	width: 20%;
	height: 330px;
	background-color: #ffffff;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 10px;
}
.div-home122{
	width: 20%;
	height: 330px;
	background-color: #ffffff;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 10px;
}
.div-home123{
	width: 20%;
	height: 330px;
	background-color:#ffffff;
	margin: auto 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 10px;
}
.div-home124{
	width: 20%;
	height: 330px;
	background-color: #ffffff;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 10px;
}
.div-home125{
	width: 20%;
	height: 330px;
	background-color: #ffffff;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 10px;
}
.div-home121:hover{
	border: 2px solid black;
}
.div-home122:hover{
	border: 2px solid black;
}
.div-home123:hover{
	border: 2px solid black;
}
.div-home124:hover{
	border: 2px solid black;
}.div-home125:hover{
	border: 2px solid black;
}
.footer{
	height: 50px;
	background-color: black;
	margin-top: 10px;
	font-size: 20px;
	font-weight: 600;
	color: white;
	text-align: center;
	padding: auto auto;
}